<router-outlet>
    <div class="form-two">

        <div class="navBar">
            <ul>
                <li><a href="#home">Sign up</a></li>
                <li><a (click)="home()" href="#home">Menu</a></li>
                <li><a (click)="about()" href="#about">About us</a></li>
                <li><a (click)="contact()" href="#contact">Contact</a></li>
                <button class="redes"><span class="info-icontwitter"></span></button>
                <button class="redes"><span class="info-iconinstagram"></span></button>
                <button class="redes"><span class="info-iconfacebook"></span></button>
                <input class="buscador" type="text" placeholder="Search " name="search">
                <button class="lupa"><span class="icon-lupasearch"></span></button>

            </ul>
        </div>
        <div class="texto">
            <div id="icecream"></div>
            <h2>#CHOOSEYOURFLAVOR</h2>
            <h1>LIFE IN FLAVORS</h1>
            <p>Fusce fingila, metus ut consquat elementum,
                tortor odio luctos ipsum, nec ultrices diam metus quis velit ut portt.
            </p>
        </div>
    </div>

</router-outlet>