/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'info-icon';
    src:  url('../src/resources/fonts/info-icon.eot');
    src:  url('../src/resources/fonts/info-icon.eot?1rhczk#iefix') format('embedded-opentype')
}

@font-face {
    font-family: 'Montserrat';
    src: url('../src/resources/fonts/Montserrat-ExtraBoldItalic.otf');
}

@font-face {
    font-family: 'Montserrat-Extrabold';
    src: url('../src/resources/fonts/Montserrat-MediumItalic.otf');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../src/resources/fonts/Montserrat-Italic.otf');
}

:root {
    --blueFont: #003263;
    --whiteFont: #FFFFFF;
    --yellowFont: #FFB700;
    --pinkFont: #F194AB;
    --pinkTwoFont: #fecfdd;
    --prueba: gray;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 9px;
}

li a:hover {
    text-shadow: 2px 2px #4e4545;
}

input {
    outline: none;
}



button:focus {
    outline:0;
}

.primary-button {
    font-family: Montserrat-Italic;
    font-size: 9px;
    background: var(--blueFont);
    color: var(--whiteFont);
    border-radius: 20px;
    height: 23px;
    margin-top: 5px;
    margin-left: 40px;
    border: var(--blueFont);
}